#忽略所有文件內容
*

#不忽略範圍包括子文件(範圍到第四級子文件)
!*/
!*/*
!*/*/*
!*/*/*/*

#添加 git附加說明文件
!.md
!.gitkeep
!.gitignore

#添加 指定程式擴展名文件
!*.c
!*.cpp
!*.h
!Makefile

#添加 指定doc擴展名文件
!*.png
!*.pdf



#忽略 pages文件 可以關掉
*.pages